h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    font-size: 30px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 36px;
}  

.vermelho{
    color: #ff0000;
}

.texto_grande{
    font-size: 60px;
}

#titulo_h2{
    background: blue;
}

#titulo_h2-1{
    color: fuchsia;
}